<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">

      <!-- Left column -->
      <div class="footer-col footer-col-1" style="width: calc(50% - 15px);">
        {%- unless page.url == "/" or page.url == "/index.html" or page.layout == "home" -%}
          <h4 style="font-weight: bold; padding: 0; margin: 0;">Recent posts</h4>
          {%- assign recent_posts = site.posts | where_exp: "post", "post.url != page.url" -%}
          <ul class="post-list" style="list-style-type: disc;">
            {%- for post in recent_posts limit: 5 -%}
              <li style="margin:0; padding:0;">
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endunless -%}
      </div>

      <!-- Right column -->
      <div class="footer-col footer-col-2" style="width: calc(50% - 15px);">
        {%- if page.url == "/" or page.url == "/index.html" or page.layout == "home" -%}
          <p>{{ site.description | escape }}</p>
        {%- else -%}
          <h4 style="font-weight: bold; padding: 0; margin: 0;">Repos</h4>
          {%- assign repos = site.github.public_repositories
            | where_exp: "r", "r.fork == false"
            | where_exp: "r", "r.archived == false"
            | where_exp: "r", "r.disabled == false"
            | where_exp: "r", "r.name != site.github.repository_name"
            | sort: "pushed_at"
            | reverse
          -%}

          <ul class="repo-list" style="list-style-type: disc;">
            {%- for repo in repos limit: 5 -%}
              <li class="repo-list-item" style="margin:0; padding:0;">
                <a href="{{ repo.html_url }}">{{ repo.name }}</a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>
